 /* Main */

 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto+Mono', sans-serif;
 }

 /* -- */

 /* ChatPage */
 .chatBase {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
 }

 .chatMain {
   height: 100%;
   flex: 0.6;
 }

 /* -- */




 /* RightBar */
 .rightBar {
   height: 100%;
   flex: 0.2;
   background-color: #ffff;
   width: 100%;

 }

 .RightBarRow {
   width: 100%;
   margin: 0px !important;
 }

 .logoCol {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 340px;
   height: 218px;

   background: #1E2532;
 }

 .logoColRow {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .logoColheader {
   color: #f4f8ff;
   font-size: 4rem !important;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .logoColheader4 {
   color: #000000;
   font-size: 2rem !important;
   display: flex;
   justify-content: center;
   align-items: center;
 }


 .emailCol {
   width: 340px;
   height: 218px;
   background: #FFFFFF;
   border-bottom: 1px solid #e2dada;
 }

 .emailColRow {
   display: flex;
   justify-content: start;
   align-items: center;
 }

 .emailColheader {
   color: #8B8B8B;
   font-size: 14px !important;
   display: flex;
   justify-content: start;
   align-items: center;
 }

 .emailColheaderP {
   color: #000000;
   font-size: 16px !important;
   display: flex;
   justify-content: start;
   align-items: center;
 }

 .cardRow {
   width: 60%;
 }

 .cardRowCard {
   width: 66px;
   height: 22px;
   background-color: #A3B8E0 !important;
   color: #f4f8ff !important;
 }

 .labelCol {
   width: 340px;
   height: 100px;
   background: #FFFFFF;
   border-bottom: 1px solid #e2dada;
 }

 .viewAllBtn {
   font-size: 14px;
   cursor: pointer;
   background-color: #ffff;
   color: #52a6fa;
   outline: none;
   border: 0px;
   border-radius: 0px;
 }

 .reactBtnRow {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 240px;

 }

 .reactBtn {
   padding: 9px;
   font-size: 14px;
   cursor: pointer;
   background-color: #fb8199;
   color: #f9f5eb;
   outline: none;
   border: solid 1px;
   border-radius: 20px;
 }

 /* -- */

 /* ChatMain */
 .mainHeader {
   width: 100%;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   background-color: #fff;
 }

 .mainHeaderRow {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .messagegetter {
   background-color: #ffff;
   width: 165px;
   padding: 4px;
   font-size: 15px;
   color: #000000;
   border-bottom-right-radius: 19px;
   border-top-right-radius: 19px;
   border-top-left-radius: 19px;
 }

 .messagegetter>p {
   padding: 8px;
   margin: 0px;
 }


 .senderDiv {
   background-color: #03aaf3;
   max-width: 165px;
   padding: 4px;
   border-bottom-left-radius: 19px;
   border-top-right-radius: 19px;
   border-top-left-radius: 19px;
   margin-left: auto;
   font-size: 15px;
   color: #fff;
 }

 .senderDiv>p {
   padding: 8px;
   margin: 0px;
 }

 .status {
   position: fixed;
   bottom: 50px;
   font-size: 13px;
   font-style: italic;
 }

 .mainMessageDiv {
   width: 100%;
   height: 80vh;
   background: #f4f8ff;
   box-shadow: 0px 0px 54px rgba(0, 0, 0, 0.25);
   padding: 20px;
   overflow-y: scroll;
 }

 .sender {
   text-align: right;
 }

 .mainMessageDiv>* {
   margin-bottom: 10px;
 }

 .chatsMessages>p {
   font-size: 13px;
 }

 .logOutBtn {
   width: 150px;
   padding: 9px;
   font-size: 14px;
   cursor: pointer;
   background-color: #fb8199;
   color: #f9f5eb;
   outline: none;
   border: solid 1px;
   border-radius: 10px;
 }

 .logOutBtn:hover {
   background-color: #9d5261;
 }

 /* -- */


 /* Home */
 .container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .container>* {
   margin-bottom: 10px;
 }

 .header {
   margin-bottom: 30px;
 }

 .nameInput {
   padding: 10px;
   width: 30%;
   border: solid 1px;
   border-radius: 10px;
 }

 .home_btn {
   width: 150px;
   padding: 9px;
   font-size: 14px;
   cursor: pointer;
   background-color: #3fc954;
   color: #f9f5eb;
   outline: none;
   border: solid 1px;
   border-radius: 10px;
 }

 /* -- */

 /* List */
 .leftbarHeader {
   margin: 30px 0 20px 0;
 }

 .leftbarHeaderClient>* {
   margin-bottom: 10px;
   color: #000000;
   font-size: 14px;
 }

 .leftbar {
   height: 100%;
   background-color: #fff;
   flex: 0.2;
   border-right: 1px solid #fdfdfd;
 }

 .leftbarRow {
   height: 100%
 }

 .namesClass {
   background: rgba(30, 37, 50, 0.08);
   border: 1px solid #E8E8E8;
 }

 /* -- */


 /* Message */
 .sendingMessageForm {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .sendingMessage {
   padding: 10px;
   background-color: #ffff;
   height: 10vh;
 }

 .message {
   width: 80%;
   height: 100%;
   border-radius: 10px;
   border: 1px solid #f6f6f6;
   outline: none;
   padding: 15px;
 }

 ::placeholder {
   color: #03aaf3;
   opacity: 1;
   /* Firefox */
 }

 .sendingMessageBtn {
   width: 150px;
   padding: 9px;
   font-size: 14px;
   cursor: pointer;
   background-color: #ffff;
   color: #b1b1b1;
   outline: none;
   border: 0px;
   border-radius: 0px;
 }



 /* -- */